<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        
      </service>
      <channels>
        <channel ref="tcp" port="33000"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
<!--type="ONX.Server.MyService, ONXServerLib"-->
